# Twitter Disaster Analysis

Importando os dados

Perguntas que vão surgindo:
* Devo fazer a análise de dados com todos os dados (treino e teste) ou apenas com os dados de treino para depois validar no teste? (Na dúvida vou fazer apenas com os dados de treino)
* Uma ideia é transformar os campos keyword e location em mais 2 features. Onde tem NaN = 0, e se tiver algum valor =1.
* O que consigo extrair dessa base de dados?
* Quais locais tem mais tweets?
* Fazer uma nuvem de palavras em Keyword
* Como preprocessar esses dados?

In [63]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
path = './data/'

df_train = pd.read_csv(path+'train.csv')
df_test = pd.read_csv(path+'test.csv')

In [6]:
df_train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [28]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

61 tweets não possuem keyword e 2533 tweets não possuem localização. É possível criar uma variável "tem localização" com 1 indicando que sim e 0 indicando que não, e verificar se isso aumenta o poder preditivo. O mesmo pode ser feito com keword. E apenas depois utilizá-las ou não.

In [13]:
df_train.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

Possui 221 keywords únicas

In [24]:
len(df_train['keyword'].value_counts())

221

In [39]:
df_train['location']  = df_train['location'].astype('str')

True

### Feature engineering

In [60]:
#convert location from object to string type
df_train['location'] = df_train['location'].astype('str')
df_test['location'] = df_test['location'].astype('str')

#convert keyword from object to string type
df_train['keyword'] = df_train['keyword'].astype('str')
df_test['keyword'] = df_test['keyword'].astype('str')

In [61]:
# Criando a coluna "tem localização"
df_train['there is location'] = df_train['location'].apply(lambda x: 0 if x=='nan' else 1)
df_test['there is location'] = df_test['location'].apply(lambda x: 0 if x=='nan' else 1)

#Criando a coluna "tem keyword"
df_train['there is keyword'] = df_train['keyword'].apply(lambda x: 0 if x=='nan' else 1)
df_test['there is keyword'] = df_test['keyword'].apply(lambda x: 0 if x=='nan' else 1)

In [62]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 7613 non-null   int64
 1   keyword            7613 non-null   object
 2   location           7613 non-null   object
 3   text               7613 non-null   object
 4   target             7613 non-null   int64
 5   there is location  7613 non-null   int64
 6   there is keyword   7613 non-null   int64
dtypes: int64(4), object(3)
memory usage: 416.5+ KB